/* ============================================== */
/* ====== DEFAULT STYLINGS */
/* ============================================== */

:root {
  --color-main-bg: #f9f9f9;
  --color-scroll-thumb: #999;

  --color-white: #fff;
  --color-gray: #555;
  --color-black: #2d2e32;
  --color-blue: #0095f6;

  --font-nav-logo-lg: 3rem;
  --font-nav-logo-sm: 2.6rem;
  --font-nav-link-lg: 1.8rem;
  --font-nav-link-sm: 1.6rem;

  --font-home-hero-header-lg: 5rem;
  --font-home-hero-header-sm: 3.8rem;
  --font-home-hero-description-lg: 1.6rem;
  --font-home-hero-description-sm: 1.4rem;
  --font-home-hero-link-lg: 1.6rem;
  --font-home-hero-link-sm: 1.4rem;
  --font-home-skills-header-lg: 2.2rem;
  --font-home-skills-header-sm: 2rem;

  --font-projects-date-lg: 1.6rem;
  --font-projects-date-sm: 1.4rem;
  --font-projects-name-lg: 2.6rem;
  --font-projects-name-sm: 2.4rem;
  --font-projects-skills-lg: 1.8rem;
  --font-projects-skills-sm: 1.6rem;
  --font-projects-description-lg: 1.6rem;
  --font-projects-description-sm: 1.4rem;
  --font-projects-link-lg: 1.6rem;
  --font-projects-link-sm: 1.4rem;

  --font-contact-name-lg: 2.2rem;
  --font-contact-name-sm: 2rem;
  --font-contact-information-lg: 1.6rem;
  --font-contact-information-sm: 1.4rem;

  --font-footer-text-lg: 1.2rem;
  --font-footer-text-sm: 1.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ============================================== */
/* ====== INPUTS */
/* ============================================== */

input {
  font-family: inherit;
  border: none;
}

input:focus {
  outline: none;
}

/* ============================================== */
/* ====== LINKS */
/* ============================================== */

a {
  color: var(--color-black);

  font-family: inherit;
  text-decoration: none;
}

/* ============================================== */
/* ====== BUTTONS */
/* ============================================== */

button {
  font-family: inherit;
  background: none;
  border: none;
}

::file-selector-button {
  font-family: inherit;
  border: none;
}

button:hover,
::file-selector-button:hover {
  cursor: pointer;
}

/* ============================================== */
/* ====== SCROLLING */
/* ============================================== */

::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scroll-thumb);
}
