/* ============================================== */
/* ====== DEFAULT STYLINGS */
/* ============================================== */

:root {
  --color-white: #fff;
  --color-main-bg: #f9f9f9;
  --color-gray: #555;
  --color-black: #2d2e32;
  --color-blue: #0095f6;

  /* --color-black: #2d2e32;
  --color-white: #f5f5f5;
  --color-gray: #a8a8a8;
  --color-blue: #0095f6;
  --color-red: #ff3a40;
  --color-yellow: #ffbf00; */

  --color-shaded-bg: #000000b3;

  --font-heading: 5rem;
  --font-subheading-2: 4.5rem;
  --font-subheading-1: 4rem;

  --font-lg-4: 3.8rem;
  --font-lg-3: 3.6rem;
  --font-lg-2: 3.4rem;
  --font-lg-1: 3.2rem;
  --font-md-4: 2.8rem;
  --font-md-3: 2.6rem;
  --font-md-2: 2.4rem;
  --font-md-1: 2.2rem;
  --font-sm-4: 1.8rem;
  --font-sm-3: 1.6rem;
  --font-sm-2: 1.4rem;
  --font-sm-1: 1.2rem;
  --font-sm-0: 1rem;

  --font-nav-logo-lg: 3rem;
  --font-nav-logo-sm: 2.6rem;
  --font-nav-link-lg: 1.8rem;
  --font-nav-link-sm: 1.6rem;

  --font-home-hero-header-lg: 5rem;
  --font-home-hero-header-sm: 3.8rem;
  --font-home-hero-description-lg: 1.6rem;
  --font-home-hero-description-sm: 1.4rem;
  --font-home-skills-header-lg: 2.2rem;
  --font-home-skills-header-sm: 2rem;

  --font-footer-text-lg: 1.2rem;
  --font-footer-text-sm: 1.1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ============================================== */
/* ====== INPUTS */
/* ============================================== */

input {
  font-family: inherit;
  border: none;
}

input:focus {
  outline: none;
}

/* ============================================== */
/* ====== LINKS */
/* ============================================== */

a {
  color: var(--color-black);

  font-family: inherit;
  text-decoration: none;
}

/* ============================================== */
/* ====== BUTTONS */
/* ============================================== */

button {
  font-family: inherit;
  background: none;
  border: none;
}

::file-selector-button {
  font-family: inherit;
  border: none;
}

button:hover,
::file-selector-button:hover {
  cursor: pointer;
}

/* ============================================== */
/* ====== SCROLLING */
/* ============================================== */

::-webkit-scrollbar {
  /* width: 0.5rem; */
}

/* Track */
::-webkit-scrollbar-track {
  /* background-color: var(--color-main-bg); */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: var(--color-black); */
}
