@use "mixins" as *;
@use "_variables" as vars;

.main--container {
  position: relative;

  .main--nav {
    position: fixed;
    top: 50%;

    transform: translateY(-50%);

    padding-left: 1.5rem;

    .main--nav-marker {
      background-color: red;

      width: 1rem;
      height: 1rem;

      margin-bottom: 1.5rem;
      border-radius: 50%;
    }
  }

  .main--section-header {
    color: vars.$color-white;

    font-size: vars.$font-subheading-sm-1;
    font-weight: 600;

    margin-bottom: 1.2rem;
  }

  .main--hero {
    color: vars.$color-white;

    font-weight: 700;

    padding: 8rem 4rem;
    margin-bottom: 8rem;

    p:nth-child(1) {
      font-size: vars.$font-heading-sm-2;

      margin-bottom: 1.2rem;
    }

    p:nth-child(2) {
      color: vars.$color-gray;

      font-size: vars.$font-subheading-sm-1;
    }
  }

  .main--about {
    padding: 8rem 4rem;
    margin-bottom: 8rem;

    p {
      color: vars.$color-gray;

      font-size: vars.$font-regular-sm-2;
    }
  }

  .main--projects {
    padding: 8rem 4rem;
    margin-bottom: 8rem;

    .main--projects-container {
    }
  }

  .main--skills {
    @include flex-center-col(2rem);

    padding: 4rem;

    .main--skills-header {
      font-size: vars.$font-subheading-sm-1;
      text-transform: uppercase;
    }

    .main--skills-icons svg {
      width: 5rem;
      height: 5rem;
    }
  }
}
