@mixin flex-center-col($gap) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin flex-center-row($gap) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}
